<div class="jumbotron text-center" style="background-color:white;">
    <h1>Purchase Orders</h1>
</div>
<div class="navbar navbar-light bg-faded">
    <h1 class="navbar-brand mb-0">Reports</h1>
    <div class="navbar-nav">
        <div class="form-group">
            <label for="retailer">Retailer: </label>
            <select ng-model="selectRetailer" ng-options="ret.name for ret in retailers" name="retailer">
                <option value="">All</option>
            </select>
            <label for="supplier">Supplier: </label>
            <select ng-model="selectSupplier" ng-options="sup.name for sup in suppliers" name="supplier">
                <option value="">All</option>
            </select>
        </div>
    </div>
</div>
<table class="table table-hover table-inverse bg-inverse">
    <tr style="background-color:powderblue;">
        <th style="color:black;">Order ID</th>
        <th style="color:black;">Supplier</th>
        <th style="color:black;">Retailer</th>
        <th style="color:black;">Total Cost</th>
        <th style="color:black;">Date</th>
    </tr>
    <tr ng-repeat="o in orders | orderBy: id | filter:retailerFilter:o | filter:supplierFilter:o" data-toggle="modal" data-target="#viewOrderLine" scope="row" ng-click="getPurchaseOrderLine(o.id, o.time, o.cost)" style="background-color:pink;" >
        <td style="color:black;">{{o.id}}</td>
        <td style="color:black;">{{o.supplier.name}}</td>
        <td style="color:black;">{{o.retailer.name}}</td>
        <td style="color:black;">{{o.cost | currency}}</td>
        <td style="color:black;">{{o.time | date : format : timezone}}
    </tr>
</table>
<div class="modal fade bg-faded" id="viewOrderLine" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-header" style="border: 2px solid powderblue">
            <h4 class="modal-title" >Purchase Order ID: {{selectedOrder.id}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                Date of Purchase: {{selectedOrder.time | date : format : timezone}}
            <div ng-repeat="pol in purchaseOrderLine" style="background-color:pink;border: 2px solid powderblue;">
                Product: {{pol.product.name}} <br>
                Category {{pol.product.productCategory.category.name}}<br>
                Supplier Price: {{pol.product.supplierPrice}}<br>
                Retailer Price: {{pol.product.retailerPrice}}<br>
                Quantity: {{pol.quantity}} Cost: {{pol.cost | currency}}<br>
                <br>
            </div>
        </div>
        <div class="modal-footer">
            Total Order Cost: {{selectedOrder.cost | currency}}
        </div>
    </div>
</div>